$spacer: 1rem;
$blue: #749dd4;
$brandColor: #fff;
$navColor: #73407c;
$brandColor2nd: #ff8a44;
$brandColor3nd: #a6c6f3;

$white: #fff;
$whiteSmoke: #f3f3f3;
$mutedColor: #30373e;

$real-brand-color: #0b3b7c;

$boxShadow: 0 0 2rem 0 #8898aa26;

$webkit-linear-background: -webkit-linear-gradient(
  to right,
  #0b3b7c,
  #115bbb
); /* Chrome 10-25, Safari 5.1-6 */
$linear-background: linear-gradient(
  to right,
  #0b3b7c,
  #115bbb
); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$clip-path-value: ellipse(70% 80px at 50% 0%);
